<h1> My Bookmarks </h1>
<br>
<div class="container">
    <div class="all">
        <ul class="bookmarks"> 
            <% @bookmarks.each do |bookmark| %>
                <li class="routeidx"><%= link_to bookmark.route.name, route_path(bookmark.route.id) %>
            <% end %>
        </ul>
    </div>
</div>
