<h1>Forum Posts</h1>
<br>
<div class="container">
    <div class="users">
        <%= link_to 'Add Forum Post', new_forum_path %>
    </div>
    <div class ="all">
        <ul>
            <% @forums.each do |forum| %>
            <li class="topics"><%= link_to forum.title, forum_path(id: forum.id) %></li><br>
            <% end %>
        </ul>
    </div>
</div>
