<h1>Rate this Route </h1>
<p>Rate the quality of this route by selecting 1-4 stars.<br>
4 stars is considered a classic route. <br>
1 star is poor quality.
</p>
<select name="score" id="rating">
  <option value="1">1 star</option>
  <option value="2">2 stars</option>
  <option value="3">3 stars</option>
  <option value="4">4 stars</option>
</select>
<%#= form_for @rating do |f| %>
<%#= f.label :score %>
<%#= f.input :score, :as => :check_boxes, :collection => ["1", "2", "3", "4"] %>

    <%#= f.hidden_field :route_id, value: params[:id] %> 
    <br>
    <button> Submit </button>