<body>   
    Nav bar stays on page
    <nav> 
        <div><img src="logo.png"></div>
        <div><a href="routes.html"> Routes </a></div>
        <div><a href="#"> Pictures </a></div>
        <div><a href="#"> Forum </a></div>
        <div><a href="#"> Rating Info </a></div>
        <div class="search"><input placeholder="Search"></input> <button>Go</button> </div>
        <div> <button> Login </button></div>
        <div> <button> Sign Up </button></div>
    </nav>
    <br>
    <h1> Southern California Climbers' Go To Resource</h1>
    <br>
    <br>
    <div class="toppics"> 
       <h4> Top 5 Pic</h4>
       <ul>
           <li>image 1</li>
           <li>image 2</li>
           <li>image 3</li>
           <li>image 4</li>
           <li>image 5</li>
        </ul>
    </div>
    <div class="toproutes"> 
            <h4> Top 5 Routes</h4>
            <ul>
                <li>Route 1 Name</li>
                <li>Route 2 Name</li>
                <li>Route 3 Name </li>
                <li>Route 4 Name</li>
                <li>Route 5 Name</li>
             </ul>
         </div>
</body>