<h1> Climbing Ratings </h1>

<h2> Yosemite Decimal Rating System</h2>


The YDRS breaks climbing down into classes and grades. Nearly every climbing guide uses this system. Beginning climbers can use this system to find climbs that are challenging but not too difficult; preventing them from venturing out onto something too hard that might lead to injury.

All climbing, hiking, crawling, and so on can be broken down into these classes. A brief explanation of the classes will describe what type of climbing might be encountered.
<br>
Class 1: Walking, on an established trail.

Class 2: Hiking, up a steep incline, possibly using your hands for balance.

Class 3: Climbing up a steep hillside; a rope is not normally used.

Class 4: Exposed climbing, following a ledge system for example. A rope would be used to belay past places where a fall could be lethal.

Class 5: This is where technical rock climbing begins. A 3 point stance (Two hands and a foot or two feet and a hand) is needed. A rope and protection are needed to safeguard a fall by the person leading. Any unprotected fall from a class 5 climb would be harmful if not fatal. Class 5 climbs are subdivided into categories to give more detail.
<br>
<br>
5.0-5.4: Climbing up a ramp or a steep section with good holds.

5.5-5.7: Steeper, more vertical climbing, but still on good holds. These routes are also easily protected.

5.8 +/- Vertical climbing on small holds. A + means that the climbing is more sustained like a 5.9, but the route would still be considered a 5.8. If you see a – after the 5.8 rating it means that the climb only has one or two moves like a solid 5.8 would have, but more resembles a 5.7. The + and – are becoming outdated and most guide books have discontinued their use.

5.9 +/- This rating means that the climb might be slightly overhung or may have fairly sustained climbing on smaller holds. With practice the beginning climber can climb in the 5.9 range quickly and with confidence.

5.10 a, b, c, d Very sustained climbing. A weekend climber rarely feels comfortable in this range unless they do go EVERY weekend or has some natural talent. The difference between a 5.10 b and a 5.10 c is very noticeable. Most likely the climbs are overhung with small holds and are sustained or require sequential moves.

5.11 a, b, c, d This is the world of the dedicated climber. Expect steep and difficult routes that demand technical climbing and powerful moves.

5.12 a, b, c, d The routes in this range are usually overhanging climbs requiring delicate foot work on thin holds or long routes requiring great balance on little holds.

5.13 a, b, c, d If you can climb upside down on a glass window, these climbs are right up your alley.

5.14 a, b, c, d These climbs are among the hardest in the world.

5.15 a This is as hard as climbing gets, folks. Keep in mind that very few climbers can actually climb at this level, although Spiderman eats these climbs for breakfast.

<br>
<h2> Vermin </h2>