<h1>All Routes</h1>
<br>
<div class="container">
    <div class="users"><h4>
        <% if current_user && current_user.isAdmin == true %>
            <%= link_to 'New Route', new_route_path %>
        <% end %>
    </h4></div> 
    <br>
    <div class ="all">
    <ul class="allroutes">
        <% @routes.each do |route| %>
        <li class="routeidx"><%= link_to route.name, route_path(id: route.id) %></li>
        <% end %>
    </ul>
    </div>
</div>
<br>

