 /* main styles */
 * {
     font-family: 'Trebuchet MS';
 }
body {
    height: 100%;
    background-color: #152b3f;
    text-align: center;
    align-content: center;
    color: #fedd94;
    font-size: 20px;
    background-size: cover;
 }
 hr {
     border-top: 1px solid #fedd94;
 }
 body a:link {
    color: coral;
}
body a:visited {
    color: coral;
}
nav a:link {
    color: #fedd94;
}
nav a:visited {
    color: #fedd94;
}
/* nav bar */
nav {
    background-color: rgb(70, 70, 72);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: coral;
}
div.nav {
    padding: 10px 30px;
}
/* Home Page */
h1.home {
    margin-top: 0;
    height: 350px;
    color: black;
    text-shadow: 1px 1px 2px gray;
    display: flex;
    text-align: center;
    line-height: 350px;
    padding: 10px 30px;
}
div.gallery {
    width: 100%;
    column-count: 4;
    margin: 10px 10px;
    flex-direction: row;    
}
div.thumbnail {
    display: inline-block;
    background-color: coral;
    padding: 5px;
    max-width: 250px;
    max-height: 250px;
    margin: 15px 0;
    border: 0;
}
div.thumbnail img {
    overflow: hidden;
    object-fit: scale-down;
}
div.toproutes {
    display: flex;
    margin: 10px;
    text-align: center;
}
img.logo {
    max-height: 100px;
    max-width: 100px;
}
/* routes page */
span {
    display: flex;
    align-items: center;
}
ul {
    list-style-type: none;
}
div.routepics {
    display: inline;
}
div.images {
    display: inline;
    overflow: auto;
}
div.images > img {
    height: 300px;
    width: 230px;
    object-fit: scale-down;  
}
div.route {
    display: inline;
}
div.users {
    display: flex;
    float: right;
    margin-right: 10px;
    color: #fedd94; 
    text-align: right;
}
div.all {
    display: grid;
    height: 600px;
    text-align: center;
    overflow: auto;
}
.allroutes, .bookmarks {
    column-count: 5;
    align-content: center;
    justify-content: center;
}
.routeidx {
    display: inline-block;
    padding: auto;
    margin: 20px 0;
    width: 130px;
    max-height: 60px;
    height: 100%;
    border: 1px solid coral;
    background-color: rgb(119,127,149);
    align-items: center;
}
  /* ratings page */
div.container {
    background-color: rgba(119,127,149, .3);
    padding: 25px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}
.ydrs, .vermin {
    color: coral;
    font-size: 14px;
}
/* forum */
.forumidx {
    display: inline-block;
    text-align: center;
}
.forum {
    text-align: center;
    background-color: rgba(119,127,149, .3);
    padding: 25px;
    margin: 30px;
}
div.replies {
    float: left;
    color: coral;
}
div.addreply {
    display: flex;
    float: right;
    text-align: right;
    color: coral;
    padding: 5px;
}
/* forms */
.form-control {
    align-items: center;
   justify-content: center;
}
div.form-container {
    margin: 30px;
    text-align: center;
}
div.form-group {
    height: 100%;
    max-width: 500px;
    display: block;
    text-align: center;
    background-color: #777f95;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
}
/* rating routes */
#rating-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    top: 5px;
    width: 64px;
    height: 25px;
}
#rating-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
}