 body {
    background-color: darkgray;
    text-align: center;
    align-content: center;
}

nav {
    background-color: lightblue;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

div {
    padding: 0px 25px;
}


div.toppics {
    display: flex;
    float: left;
}

div.toproutes {
    display: flex;
    float: right;
}

img.logo {
    max-height: 100px;
    max-width: 100px;
}

span {
    display: flex;
    align-items: center;
}
.route {
    font-size: 20px;
}

ul {
    list-style-type: none;
  }
  
  div.routepics {
    display: flex;
    padding: 0 10px;
  }